* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Press Start 2P", sans-serif;
  color: #000000;
  background-color: #ffffff;
}

header {
  position: relative;
  height: 35vh;
  border-bottom: 7px solid #eee;
  background-color: rgb(30, 127, 83);
}

main {
  height: 65vh;
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.left {
  width: 50rem;
  align-items: center;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.topRight {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.right {
  height: 110px;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}

.new {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80rem;
  position: absolute;
  top: 444px;
}

.newRow {
  display: flex;
  justify-content: space-between;

  height: 10rem;

  border: rgb(0, 0, 0) solid;
}

.newTask {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  color: #000;
  height: 10rem;
  width: 60rem;
}

h1 {
  font-size: 4rem;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h2 {
  color: black;
  text-align: left;
}

.mission {
  border: 4px solid #000000;
  font-family: inherit;
  color: black;
  font-size: 2rem;
  height: 10rem;
  width: 50rem;
  text-align: left;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.button1 {
  width: 50rem;
  display: flex;
  justify-content: space-between;
}

.btn {
  border: none;
  background-color: #eee;
  color: #222;
  font-size: 1rem;
  font-family: inherit;
  padding: 1rem 2rem;
  cursor: pointer;
}

.headTable {
  border: rgb(0, 0, 0) solid;
  text-align: center;
  color: #fbfbfb;
  background-color: #426a50;

  height: 3rem;
  width: 80rem;
}
